<div class="container">
  <div class="clr-row clr-justify-content-center">
    <h1>Connexion</h1>
  </div>
  <div class="clr-row clr-justify-content-center">
    <form (ngSubmit)="submit()" [formGroup]="form" clrForm>
        <clr-input-container>
            <label class="clr-col-auto">Email</label>
            <input class="clr-col-auto" clrInput formControlName="email" type="email" />
            <clr-control-error *clrIfError="'email'">Email invalide</clr-control-error>
        </clr-input-container>

        <clr-password-container>
            <label class="clr-col-auto">Mot de passe</label>
            <input class="clr-col-auto" clrPassword formControlName="password" type="password" />
            <clr-control-error *clrIfError="'required'">Mot de passe requis</clr-control-error>
        </clr-password-container>
      <div class="button1 clr-align-content-center">
        <button class="btn btn-success">Connexion</button>
      </div>
    </form>
  </div>
</div>
