<div class="clr-row clr-justify-content-center" style="margin-top: 2%">
  <h1>Inscription</h1>
</div>
<div class="clr-row clr-justify-content-center" style="margin-top: 5%; margin-right: auto; margin-left: auto">
  <form (ngSubmit)="submit(form.value)" [formGroup]="form" clrForm>
    <clr-input-container>
      <label class="clr-col-auto">Nom</label>
      <input formControlName="nom" class="clr-col-auto" clrInput name="nom" required type="text"/>
      <clr-control-error *clrIfError="'required'">Donne-nous ton petit nom</clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <label class="clr-col-auto">Prénom</label>
      <input formControlName="prenom" class="clr-col-auto" clrInput name="prenom" required type="text"/>
      <clr-control-error *clrIfError="'required'">Allez sois pas timide</clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <label class="clr-col-auto">Code postal</label>
      <input formControlName="codepostal" class="clr-col-auto" clrInput name="codepostal" required type="number"/>
      <clr-control-error *clrIfError="'required'">On sait où t'habites de toutes façons</clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <label class="clr-col-auto">Mail</label>
      <input formControlName="email" class="clr-col-auto" clrInput name="email" required type="email"/>
      <clr-control-error *clrIfError="'email'">Apprend à écrire, l'arobase c'est altGr+à</clr-control-error>
      <clr-control-error *clrIfError="'required'">T'inquiètes pas on envoie pas de newsletter</clr-control-error>
    </clr-input-container>
    <clr-textarea-container>
      <label class="clr-col-auto">Description</label>
      <textarea formControlName="description" class="clr-col-auto" clrTextarea name="description" required placeholder="Décrivez-vous 🎵"></textarea>
      <!--<clr-control-helper class="clr-col-8">Donnez des informations à propos de vous. </clr-control-helper>-->
      <clr-control-error *clrIfError="'required'">Sois franc dit-nous tout</clr-control-error>
    </clr-textarea-container>
    <clr-password-container>
      <label class="clr-col-auto">Mot de passe</label>
      <input formControlName="password" class="clr-col-auto" clrPassword name="password" required type="password"/>
      <clr-control-error *clrIfError="'required'">C'est pour ta sécurité fais un effort</clr-control-error>
    </clr-password-container>
    <clr-date-container>
      <label class="clr-col-auto">Date de naissance</label>
      <input formControlName="naissance" class="clr-col-auto" clrDate name="naissance" required type="date"/>
      <clr-control-error *clrIfError="'required'">On te souhaitera ton anniversaire</clr-control-error>
    </clr-date-container>
    <div class="clr-row" style="margin-top: 5%">
      <div class="clr-col-auto">
        <clr-checkbox-container>
          <clr-checkbox-wrapper>
            <input class="clr-col-auto" formControlName="jaide" clrCheckbox name="jaide" type="checkbox"/>
            <label class="clr-col-auto">J'aide</label>
          </clr-checkbox-wrapper>
          <clr-checkbox-wrapper>
            <input class="clr-col-auto" formControlName="aled" clrCheckbox name="aled" type="checkbox"/>
            <label class="clr-col-auto">ALED</label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
      </div>
      <div style="margin-top: 5%">
        <!--        <div *ngIf="error">-->
        <!--          {{ error.message }}-->
        <!--        </div>-->
        <!--        <div *ngIf="uploadResponse.status === 'error'">-->
        <!--          {{ uploadResponse.message }}-->
        <!--        </div>-->
        <!--        <div *ngIf="uploadResponse.status === 'progress'">-->


        <!--          <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">-->
        <!--            {{uploadResponse.message}}%-->
        <!--          </div>-->


        <label class="clr-col-auto clr-align-self-end">Photo de profil</label>
        <div class="clr-col-auto clr-align-self-end"></div>
        <input class="clr-col-auto clr-align-self-end" type="file" name="pdp" (change)="onFileChange($event)">
        <!--        <button class="btn btn-success" (change)="onFileChange($event)">Upload</button>-->
      </div>
    </div>

    <div class="clr-row clr-justify-content-center" style="margin-top: 10%">
      <button class="btn btn-success" type="submit">S'inscrire</button>
      <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-xs">
        <clr-icon shape="info-circle" size="24"></clr-icon>
        <span class="tooltip-content"><img src="http://localhost:5000/static/img/symbole1.svg" style="height: 20px"></span>
      </a>
    </div>
  </form>
</div>

