
.btn-success {
  text-transform: none;
  font-size: 2.5em;
  background-color: #00b381;
  border-color: white;
  border-width: 3px;
  color: white;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  height: auto;
}

.btn-success:hover {
  transform: scale(1.1);
  background-color: #00b381;
  border-color: white;
  color: white;
}

.btn-success:active {
  transform: scale(1);
}

.btn-success-outline {
  text-transform: none;
  font-size: 2.5em;
  border-color: #00b381;
  border-width: 3px;
  background-color: white;
  color: #00b381;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  height: auto;
}

.btn-success-outline:hover {
  transform: scale(1.1);
  background-color: white;
  border-color: #00b381;
  color: #00b381;
}

.btn-success-outline:active {
  transform: scale(1);
}
