<div class="clr-row clr-justify-content-center" style="margin-top: 2%">
  <h1>Inscription</h1>
</div>
<div class="clr-row clr-justify-content-center" style="margin-top: 5%; margin-right: auto; margin-left: auto">
  <form (ngSubmit)="submit()" [formGroup]="form" clrForm >
    <clr-input-container>
      <label class="clr-col-auto">Nom</label>
      <input formControlName="nom" class="clr-col-auto" clrInput name="nom" required type="text"/>
    </clr-input-container>
    <clr-input-container>
      <label class="clr-col-auto">Prénom</label>
      <input formControlName="prenom" class="clr-col-auto" clrInput name="prenom" required type="text"/>
      <clr-control-error *clrIfError="'required'">Prénom requis</clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <label class="clr-col-auto">Mail</label>
      <input formControlName="email" class="clr-col-auto" clrInput name="email" required type="email"/>
      <clr-control-error *clrIfError="'email'">Email invalide</clr-control-error>
      <clr-control-error *clrIfError="'required'">Email requis</clr-control-error>
    </clr-input-container>
    <clr-password-container>
      <label class="clr-col-auto">Mot de passe</label>
      <input formControlName="password" class="clr-col-auto" clrPassword name="password" required type="password"/>
      <clr-control-error *clrIfError="'required'">Mot de passe requis</clr-control-error>
    </clr-password-container>
    <clr-date-container>
      <label class="clr-col-auto">Date de naissance</label>
      <input formControlName="naissance" class="clr-col-auto" clrDate name="naissance" required type="date"/>
    </clr-date-container>
    <div class="clr-row" style="margin-top: 5%">
      <div class="clr-col-auto">
        <clr-checkbox-container>
          <clr-checkbox-wrapper>
            <input class="clr-col-auto" clrCheckbox name="aled" required type="checkbox" value="jaide"/>
            <label class="clr-col-auto">J'aide</label>
          </clr-checkbox-wrapper>
          <clr-checkbox-wrapper>
            <input class="clr-col-auto" clrCheckbox name="aled" required type="checkbox" value="aled"/>
            <label class="clr-col-auto">ALED</label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
      </div>
      <div  style="margin-top: 5%">
        <label class="clr-col-auto clr-align-self-end">Photo de profil</label>
        <div class="clr-col-auto clr-align-self-end"></div>
        <input class="clr-col-auto clr-align-self-end" type="file" name="myFile">
      </div>
    </div>
    <div class="clr-row clr-justify-content-center" style="margin-top: 10%">
        <button class="btn btn-success" type="submit">S'inscrire</button>
    </div>
  </form>
</div>

