<div style="height: 100%; width: 100%">
  <div class="banner"></div>

  <div class="clr-row clr-justify-content-center"
       style="margin-top: 5%; max-width: 100%; margin-right: auto; margin-left: auto">
    <div class="clr-col-auto">
      <div style="padding: 1em">
        <button [routerLink]="['signup']" class="btn btn-success btn-block">
          Inscription
        </button>
      </div>

    </div>
    <div class="clr-col-auto">
      <div style="padding: 1em">
        <button [routerLink]="['login']" class="btn btn-success-outline btn-block">
          Connexion
        </button>
      </div>
    </div>
  </div>

  <div class="clr-row clr-justify-content-center"
       style="margin-top: 5%; max-width: 100%; margin-bottom: 5em; margin-right: auto; margin-left: auto">
    <div class="clr-col-md-6">
      <div style="padding: 1em">
        <span style="font-size: 1.5em">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum odio imperdiet, ullamcorper sem ut, finibus felis. Nullam sit amet luctus ante, eu blandit erat. Maecenas ultricies semper erat, id mattis lacus lobortis ut. Sed interdum justo eu elit porttitor consectetur hendrerit vel leo. Integer luctus ornare felis sit amet fringilla. Curabitur vulputate ultrices odio eu hendrerit. Vestibulum bibendum pellentesque consectetur. Nam dictum at justo a maximus. Nulla metus libero, eleifend eu tincidunt et, egestas vitae lectus. Fusce velit massa, scelerisque a eros ac, varius mollis felis. Aliquam maximus accumsan tellus nec fringilla. Praesent facilisis tempus auctor. Donec elit eros, luctus non neque et, dictum rutrum nisi.
        </span>
      </div>
    </div>
  </div>

</div>
