<img src="https://cdn.discordapp.com/attachments/652227454332567563/652274782552719361/fond_banniere.png" alt="Bannière"
     style="box-shadow: 0 1em 2em 0 rgba(0,0,0,1);">
<img src="https://media.discordapp.net/attachments/652227454332567563/652275097612320768/texte.png" alt="ALED.net"
     style="margin-top: -300px">
<div class="clr-row clr-justify-content-center" style="margin-top: 7em">
  <div class="clr-col-md-2">
    <button class="btn btn-success btn-block">
      Inscription
    </button>
  </div>
  <div class="clr-col-md-2">
    <button class="btn btn-success-outline btn-block">
      Connexion
    </button>
  </div>
</div>
<div class="clr-row clr-justify-content-center" style="margin-top: 7em">
  <div class="clr-col-6">
    <span style="font-size: 1.5em">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum odio imperdiet, ullamcorper sem ut, finibus felis. Nullam sit amet luctus ante, eu blandit erat. Maecenas ultricies semper erat, id mattis lacus lobortis ut. Sed interdum justo eu elit porttitor consectetur hendrerit vel leo. Integer luctus ornare felis sit amet fringilla. Curabitur vulputate ultrices odio eu hendrerit. Vestibulum bibendum pellentesque consectetur. Nam dictum at justo a maximus. Nulla metus libero, eleifend eu tincidunt et, egestas vitae lectus. Fusce velit massa, scelerisque a eros ac, varius mollis felis. Aliquam maximus accumsan tellus nec fringilla. Praesent facilisis tempus auctor. Donec elit eros, luctus non neque et, dictum rutrum nisi.
    </span>
  </div>
</div>

